<!DOCTYPE html>
<html>

<%- include('../partials/head'); %>

<body>
    <%- include('../partials/navbar'); %>
    <div class="my-container">
        <h1>
            <%= title%>
        </h1>
        <img src=<%= image%> alt=<%= image%>>
    </div>


</body>

</html>